# Node modules
node_modules/

# uploads
**/uploads/*
/uploads/

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# # Env files
# .env
.env.*

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Misc
coverage/
*.local

# Dependency directories
**/node_modules/

# XAMPP/Windows
*.bak
*.tmp

# React/Vite
*.cache

# VSCode history
.history/

# Mac system files
.AppleDouble
.LSOverride

# Windows system files
$RECYCLE.BIN/

# Others
*.log

